.row{
    padding-top: 2.5rem;
}
h1, h2{
    font-family: 'Fjalla One', sans-serif;
}
p{
    font-family: 'Merriweather', serif;
}
#aboutSection{

}
.portfolioImgs{

}
.subtitle{
    color: lightslategray;
}